@media screen and (min-width: 550px) {
	.main-content .gallery .col {
		width: calc((100% / 2) - 15px);
	}

	aside.big {
		display: flex;

		flex-basis: 50px;
		min-width: 50px;
		flex-wrap: wrap;
		padding: 0px 10px;
		overflow-y: hidden;
	}

	aside.big .navbar-side {
		height: calc(100% - 55px);
		min-height: 400px;
		overflow: auto;
	}

	aside.big div.logo,
	aside.big nav.navbar-side ul.small-nav,
	aside section.profile ul.small-nav {
		display: none;
	}

	aside.big nav.navbar-side ul:nth-child(3) {
		display: flex;
	}

	aside section.profile ul:nth-child(2) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	aside section.profile ul:nth-child(2) li a i {
		margin-right: 0px;
	}

	aside section.profile ul:nth-child(2) li a img {
		margin-right: 0px;
	}

	.player .player-album .song {
		margin-right: 10px;
	}
}

@media screen and (min-width: 650px) {
	aside.big {
		display: flex;
		flex-basis: 220px;
		min-width: 220px;
		flex-wrap: wrap;
		padding: 0px 20px;
		overflow-y: hidden;
	}

	aside.big .navbar-side {
		height: calc(100% - 165px);
		min-height: 300px;
		overflow: auto;
	}

	/* aside.big div.logo, */
	aside.big nav.navbar-side ul.small-nav,
	aside section.profile ul.small-nav {
		display: flex;
		flex-direction: column;
	}

	aside.big div.logo {
		display: flex;
		align-items: center;
		position: relative;
		top: 0;
		left: 0;
		width: 220px;
		height: 85px;
		background: black;
		margin-bottom: 10px;
	}

	aside.big nav.navbar-side ul:nth-child(3) {
		display: none;
	}

	aside section.profile ul:nth-child(2) {
		display: none;
	}

	.player .player-album .song {
		margin-right: 30px;
	}
}

@media screen and (min-width: 768px) {
	.main-content .gallery .col {
		width: calc((100% / 4) - 15px);
	}
}

@media screen and (min-width: 1200px) {
	.main-content .gallery .col {
		width: calc((100% / 6) - 15px);
	}
}
