* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* MAIN */

main {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 85px);
}

/* ASIDE */

aside {
	display: flex;
	background: red;
	width: 220px;
	flex-wrap: wrap;
	padding: 20px;
	z-index: -1;
}

aside .navbar-side .logo {
	width: 65%;
}

aside .navbar-side ul.small-nav {
	list-style: none;
}

aside .navbar-side ul.small-nav li a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: #6e6e6e;
}

aside .navbar-side ul.small-nav li img {
	width: 20px;
	color: #6d6d6d;
}
/* MAIN CONTENT */

.main-content {
	width: calc(100vw - 220px);
	background: blue;
	z-index: 0;
	overflow-y: hidden;
}

/* MAIN CONTENT - HEADER */

.main-content .content-header {
	text-align: right;
	position: absolute;
	width: calc(100vw - 220px);
	background: rgba(201, 76, 76, 0.3);
	height: 85px;
	margin-bottom: 20px;
}

.main-content .content-header .btn-upgrade {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* MAIN CONTENT - MAIN*/

.content {
	width: calc(100vw - 220px);
	position: absolute;
	padding: 100px 20px 50px;
	height: calc(100vh - 85px);
	overflow-y: auto;
	z-index: -1;
}

.main-content .content-navbar {
	display: flex;
	justify-content: center;
	padding: 5px 30px;
	align-items: center;
	flex-grow: 1;
}

.main-content .content-navbar .content-menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.main-content .content-navbar .content-menu li {
	padding-right: 1.5rem;
	text-align: center;
}

.main-content .content-navbar .content-menu li:last-child {
	/* padding-right: 0rem; */
}

.main-content .content-navbar .content-menu li a {
	text-decoration: none;
	color: #6e6e6e;
	text-transform: uppercase;
	text-align: center;
}

/* GALLERY */

.main-content .gallery {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.main-content .gallery .col {
	width: calc((100% / 6) - 13px);
	height: 200px;
	background: #000;
	display: flex;
	margin-right: 15px;
	margin-bottom: 20px;
}

.main-content .gallery .col:last-child {
	margin-right: 0px;
}

/* .main-content .gallery .col {
} */
/* FOOTER */

footer {
	background: green;
	height: 85px;
	z-index: 10;
}
