* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 600px;
	font-family: "Montserrat", sans-serif;
}

/* MAIN */

main {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 85px);
	overflow-y: hidden;
}

/* ASIDE */

aside {
	position: relative;
	display: flex;
	background: #000000;
	flex-basis: 220px;
	min-width: 220px;
	flex-wrap: wrap;
	padding: 0px 0px;
	overflow-y: hidden;
}

aside .navbar-side {
	height: calc(100% - 105px);
	min-height: 300px;
	overflow: auto;
}

aside div.logo {
	display: flex;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	width: 220px;
	height: 85px;
	background: black;
	margin-bottom: 10px;
	padding-left: 20px;
}

aside div.logo img {
	width: 70%;
}

aside .navbar-side ul {
	list-style: none;
	margin-bottom: 20px;
}

aside .navbar-side ul.small-nav li {
	margin-bottom: 10px;
	padding-left: 20px;
}

aside .navbar-side ul.small-nav li a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: #666;
	font-size: 14px;
	font-weight: 600;
}

aside .navbar-side ul.small-nav li:hover a {
	color: white;
}

aside .navbar-side ul.small-nav li:first-child a {
	color: #f9f9f9;
}

aside .navbar-side ul.small-nav li svg {
	width: 30px;
	margin-right: 5px;
}

aside .navbar-side ul.small-nav li svg path {
	fill: #666;
}

aside .navbar-side ul.small-nav li:hover svg path {
	fill: #f9f9f9;
}

aside .navbar-side ul.small-nav li:first-child svg path {
	fill: #f9f9f9;
}

aside .navbar-side ul.small-nav li:first-child {
	position: relative;
}

aside .navbar-side ul.small-nav li:first-child::after {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 10px;
	top: 0px;
	right: 163px;
	height: 30px;
	background: #adff2f;
}

/* SECOND UL */

aside .navbar-side ul:nth-child(2) {
	margin-bottom: 0px;
}

aside .navbar-side ul:nth-child(2) h4 {
	margin-bottom: 15px;
	color: #f9f9f9;
	padding-left: 20px;
}

aside .navbar-side ul:nth-child(2) li {
	margin-bottom: 20px;
}

aside .navbar-side ul:nth-child(2) li a .action {
	font-size: 14px;
	font-weight: 600;
}

aside .navbar-side ul:nth-child(2) li.inline a div.action {
	font-size: 16px;
}

aside .navbar-side ul:nth-child(2) li.inline a {
	display: flex;
	align-items: center;
}

aside .navbar-side ul:nth-child(2) .plus {
	width: 35px;
	height: 35px;
	font-size: 40px;
	font-weight: 400;
	background-color: #a3a3a3;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	color: #000;
}

aside .navbar-side ul:nth-child(2) li.inline:hover a .plus {
	background-color: white;
}

aside .navbar-side ul:nth-child(3) {
	display: flex;
	flex-direction: column;
}

aside .navbar-side ul:nth-child(3) li {
	margin-bottom: 15px;
	list-style: none;
	width: 30px;
	height: 20px;
	padding: 10px 0px;
}

aside .navbar-side ul:nth-child(3) li:first-child {
	padding-top: 5px;
}

aside .navbar-side ul:nth-child(3) li a {
	width: 30px;
}

/* ASIDE SECTION */

aside section.profile {
	background: #000;
	height: 60px;
	width: 100%;
	margin-bottom: 0px;
	padding: 0px 20px 5px;

	display: inline-block;
	margin-bottom: 10px;
}

aside section.profile ul {
	list-style: none;
}

aside section.profile ul li {
	margin-bottom: 10px;
}

aside section.profile ul li a {
	display: flex;
	flex-direction: row;

	text-decoration: none;
	color: #f9f9f9;
}

aside section.profile ul li:first-child a .action {
	font-size: 15px;
}

aside section.profile ul li a i {
	position: relative;
	font-size: 7px;
	padding: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	margin-right: 8px;
}

aside section.profile ul li a i::after {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 10px;
	top: 3px;
	right: 0px;
	height: 10px;
	background: transparent;
	border-radius: 50%;
	border: 1px solid white;
}

aside section.profile ul li hr {
	width: 100%;
}

aside section.profile ul li:last-child a {
	margin-bottom: 0px;
}

aside section.profile ul li a img {
	width: 20px;
	height: 20px;
	background-color: #a3a3a3;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* MAIN CONTENT */

.main-content {
	flex-grow: 1;
	background: rgb(20 24 35);
	position: relative;
}

.main-content h2 {
	color: white;
}

.main-content p {
	color: #6e6e6e;
	font-size: 12px;
	font-weight: 600;
}
/* MAIN CONTENT - HEADER */

.main-content .content-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(8, 11, 19, 0.6);
	height: 85px;
}

.main-content .content-header .btn-upgrade {
	background-color: transparent;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 30px;
	margin-right: 20px;
	border: 1px solid white;
}

.main-content .content-header .btn-upgrade:hover {
	font-size: 15px;
	padding: 17px 34px;
	margin-right: 10px;
}
/* MAIN CONTENT - MAIN*/

.content {
	padding: 100px 15px 0px;
	height: 100%;
	overflow-y: auto;
}

.main-content .content-navbar {
	display: flex;
	justify-content: center;
	padding: 5px 30px;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 20px;
}

.main-content .content-navbar .content-menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.main-content .content-navbar .content-menu li {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
}

.main-content .content-navbar .content-menu li:first-child a {
	position: relative;
}

.main-content .content-navbar .content-menu li:first-child a:hover::after {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 40px;
	top: 20px;
	left: 30px;
	height: 2px;
	background: #adff2f;
}

.main-content .content-navbar .content-menu li a {
	text-decoration: none;
	color: #6e6e6e;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

.main-content .content-navbar .content-menu li a:hover {
	color: white;
}

/* GALLERY */

.main-content .gallery {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 50px;
}

.main-content .gallery .col {
	width: calc((100% / 6) - 13px);
	display: flex;
	flex-direction: column;
	margin-right: 15px;
	margin-bottom: 20px;
	text-align: center;
}

.main-content .gallery .col:last-child {
	margin-right: 0px;
}

.main-content .gallery .col img {
	max-width: 100%;
	position: relative;
}

.main-content div.gallery div.col img {
	margin-top: 40px;
	margin-bottom: 10px;
	display: block;
}

.main-content div.gallery div.col div.participant {
	position: relative;
}

.main-content div.gallery div.col div.participant div.layover {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 10px;
	top: 0%;
	bottom: 0%;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

.main-content div.gallery:last-child div.col div.participant div.layover {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 10px;
	top: 0%;
	bottom: 0%;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 50%;
}

.main-content div.gallery div.col div.participant:hover div.layover {
	display: flex;
}

.main-content div.gallery div.col div.participant div.layover i {
	font-size: 50px;
}

.main-content .gallery .col h3 {
	color: white;
	margin-bottom: 5px;
}

.main-content .gallery .col p {
	color: #6e6e6e;
	font-size: 12px;
	font-weight: 600;
}
/* .main-content .gallery .col {
} */
/* FOOTER */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(40 40 40);
	height: 85px;
	color: white;
}

footer p {
	font-size: 12px;
	font-weight: 600;
	color: #858585;
}

footer p:hover {
	color: white;
	text-decoration: underline;
}

.player .player-album,
.player .player-audio {
	flex-basis: 220px;
}

.player .player-album {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
}

.player .player-album img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.player .player-album .song {
	margin-right: 30px;
}

.player .player-album .options i {
	color: #858585;
}

.player .player-album .options i:hover {
	color: white;
	cursor: pointer;
}

.player .player-album .options i:first-child {
	margin-right: 5px;
}

.player .player-controller {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 7;
	max-width: 50%;
}

.player .player-controller .player-icons {
	display: flex;
	flex-direction: row;
	padding: 0px 50px;
	align-items: center;
	margin-bottom: 10px;
}

.player .player-controller .player-icons i:nth-child(3) {
	padding: 2px 30px;
	font-size: 30px;
}

.player .player-controller .player-icons i:nth-child(3):hover {
	font-size: 34px;
	padding: 0px 28px;
}

.player .player-controller .player-icons i:nth-child(2) {
	padding-left: 20px;
}

.player .player-controller .player-icons i:nth-child(4) {
	padding-right: 20px;
}

.player .player-controller .song-length {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	padding: 0px 20px;
	font-size: 10px;
	font-weight: 600;
}

.player .player-controller .song-length .line-back {
	position: relative;
	display: flex;
	width: 100%;
	height: 4px;
	background: #5a5a5a;
	margin: 0px 20px;
	border-radius: 15px;
}

.player .player-controller .song-length .line-front {
	position: absolute;
	top: 0;
	left: -20px;
	display: flex;
	width: 30%;
	height: 4px;
	background: #c1c1c1;
	margin: 0px 20px;
	border-radius: 15px;
}

.player .player-controller .song-length .line-front:hover::before {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 4px;
	background: #adff2f;
	border-radius: 15px;
}

.player .player-controller .song-length .line-front:hover::after {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 10px;
	top: -3px;
	left: 98%;
	height: 10px;
	background: white;
	border-radius: 15px;
}

.player .player-audio {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0px 10px 0px 0px;
}

.player .player-audio i {
	margin-right: 10px;
	font-size: 14px;
}

.player .player-audio .line-back {
	position: relative;
	width: 50%;
	height: 4px;
	background: #5a5a5a;
	border-radius: 10px;
}

.player .player-audio .line-back .line-front {
	position: relative;
	top: 0;
	left: 0;
	width: 30%;
	height: 4px;
	background: #c1c1c1;
	border-radius: 10px;
}

.player .player-audio .line-back .line-front:hover::before {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 4px;
	background: #adff2f;
	border-radius: 15px;
}

.player .player-audio .line-back .line-front:hover::after {
	content: " ";
	display: inline-block;
	position: absolute;
	width: 10px;
	top: -3px;
	left: 80%;
	height: 10px;
	background: white;
	border-radius: 15px;
}
